#main-container {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 200px;
  left: 10vw;
  right: 10vw;
  margin: auto;
  margin-top: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  flex-direction: row;
  background-color: white;
  border-radius: 30px 30px 30px 30px;
  border-top-right-radius: 30px 30px;
  box-shadow: 0 30px 40px rgba(0,0,0,.3);

  .menu-food {
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #name {
      font-size: 1.75em;
    }

    .menu-header {
      display: flex;
      flex-direction: column;
      width: 90%;
      align-items: center;
      padding-bottom: 1em;
      border-bottom: 1px solid grey;
      font-size: 1.25em;

      .social-media {
        display: flex;
        justify-content: space-between;
        width: 4em;
        font-size: 1em;

        i:hover {
          font-size: 1.25em;
        }
      }
    }

    .menu-items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 90%;

      .item-border {
        flex-basis: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2.5%;
        padding-bottom: 2.5%;
        border: 1px solid grey;
        border-radius: 15px 15px 15px 15px;

        img {
          width: 100%;
          height: 20em;
          border-radius: 15px 15px 0px 0px;
        }

        .food-details {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 1em;

          #food-name {
            font-size: 1.5em;
            font-weight: bold;
          }

          #food-description {
            display: flex;
            text-align: center;
            font-size: 1.25em;
          }

          #price-total {
            font-size: 1.25em;
          }
        }

        .quantity-border {
          display: flex;
          flex-direction: rows;
          align-items: center;

          .subtract, .add {
            border: 1px solid black;
            background-color: black;
            color: white;
            font-weight: bold;
            border-radius: 5px 5px 5px 5px;
            margin-left: 10px;
            margin-right: 10px;
            height: 30px;
            width: 30px;
          }
        }
      }
    }
  }

  .food-item:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
  }

  .menu-cart {
    width: 30%;
    text-align: center;
    font-size: 36px;
    padding-top: 2em;
    padding-right: 1em;

    .customer-cart {
      margin: 0.25em;
      padding: 0.25em;
      border: 1px solid grey;
      border-radius: 15px 15px 15px 15px;
      padding-bottom: 1em;
    }

    .cart-header {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-bottom: 1px solid grey;
      padding: 2.5%;

      .cart-title {
        font-family: "Francois One", sans-serif;
        font-size: 1em;
      }
    }

    #location, #clock{
      font-size: 0.6em;
    }

    #address {
      font-size: 0.5em;
    }

    .cart-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      border-bottom: 1px solid grey;
      padding: 0.25em;

      .itemQuantity {
        font-size: 0.75em;
        margin-right: 5%;
      }

      .item-name {
        font-size: 0.75em;
        text-align: left;
        margin-right: 5%;
      }

      .item-description {
        font-size: 0.5em;
        text-align: left;
        margin-right: 5%;
      }

      .price-total {
        font-size: 0.75em;
        width: 20%;
      }
    }

    #order-button {
      background-color: black;
      color: white;
      font-family: "Francois One", sans-serif;
      border: none;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
    }
  }
}
