.orders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .order-details {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 15px 15px 15px 15px;
    margin: 2.5%;
  }

  .food-item {
    border-bottom: 1px solid grey;
  }
}

